In [8]:
print('hello')

In [2]:
print('George Mammen Kurien')

George Mammen Kurien

In [1]:
str1 = 'George Mammen'
print(str1[1:5:2])

er

In [7]:
for i in range(10,0,-1) :
    print(i)

10
9
8
7
6
5
4
3
2
1

In [8]:
str = 'George Mammen'
str[::-1]

'nemmaM egroeG'

In [10]:
for i in range(0,10,1) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
num = 69
print(bin(num)[2:])

1000101

In [14]:
num = 69
print(oct(num)[2:])

105

In [22]:
str = 'George'
print(str)
print(str.replace('George','Sumesh'))
str.isalpha()

George
Sumesh

True

In [29]:
first= [1,2,3,4,5]
random = [2,3,4,6,7,8]
print(first+random)
print(first == random)

for i in first+random: 
    print(i)

print(first[1])

[1, 2, 3, 4, 5, 2, 3, 4, 6, 7, 8]
False
1
2
3
4
5
2
3
4
6
7
8
2

In [30]:
first[1] = 10
print(first)

[1, 10, 3, 4, 5]

In [38]:
num = 5
if num in first:
    print('Hello - ',first.index(num))
else:
    print('Go Die')

Hello -  4

In [50]:
number = [1,2,3,4,5]

snumber = []
for i  in number:
    snumber.append(i + 2)

print(snumber)

[3, 4, 5, 6, 7]

In [53]:
info = {}
info['FName'] = 'George'
info['MName'] = 'Mammen'
info['SName'] = 'Kurien'
print(info)

{'FName': 'George', 'MName': 'Mammen', 'SName': 'Kurien'}

In [56]:
info['MName'] = 'Nil'
print(info)

{'FName': 'George', 'MName': 'Nil', 'SName': 'Kurien', 'Mname': ''}

In [61]:
info.pop('MName')
print(info)

{'FName': 'George', 'SName': 'Kurien'}

In [63]:
info.items()

dict_items([('FName', 'George'), ('SName', 'Kurien')])

In [65]:
for key in info:
    print(key)

FName
SName

In [66]:
for key in info:
    print(key,info[key])

FName George
SName Kurien

In [70]:
list(info.items())

[('FName', 'George'), ('SName', 'Kurien')]

In [71]:
list(info.keys())

['FName', 'SName']

In [72]:
print(info)

{'FName': 'George', 'SName': 'Kurien'}

In [73]:
list(info.values())

['George', 'Kurien']

In [83]:
set = {'hello','hi','shubham'}

print(set)

{'hello', 'hi', 'shubham'}

In [84]:
set.add('GEORGE')

In [85]:
print(set)

{'hello', 'hi', 'shubham', 'GEORGE'}

In [86]:
set.update(['vaish','sneha','pranav'])

In [87]:
print(set)

{'hello', 'shubham', 'pranav', 'hi', 'vaish', 'sneha', 'GEORGE'}

In [88]:
set.pop()

'hello'

In [89]:
print(set)

{'shubham', 'pranav', 'hi', 'vaish', 'sneha', 'GEORGE'}

In [90]:
set.remove('vaish')

In [92]:
print(set)

{'shubham', 'pranav', 'hi', 'sneha', 'GEORGE'}

In [94]:
import datetime
x = datetime.datetime.now()
print(x)

2022-08-23 18:30:10.575357

In [95]:
set = {'ash','paul','jeff'}

In [96]:
print(set)

{'jeff', 'paul', 'ash'}

In [97]:
set.pop()

'jeff'

In [98]:
print(set)

{'paul', 'ash'}


Basics

In [1]:
a = 5

In [2]:
a

5

In [7]:

a = a+a

In [8]:
a

40

String Functions and Indexing

In [9]:
str = 'George Mammen Kurien'

In [10]:
str[1]

'e'

In [11]:
str[1::2]

'ereMme uin'

In [13]:
print(str[1:5])

eorg

In [14]:
print("george\nworld")

george
world

In [15]:
len(str)

20

In [16]:
str[-2]

'e'

In [18]:
str[::-1]

'neiruK nemmaM egroeG'

In [19]:
str[:3]

'Geo'

In [21]:
print(str[2:])

orge Mammen Kurien

In [22]:
print('g'+ 'eorge')

george

In [24]:
x = 'mammen'

In [26]:
print('George ' + x)

George mammen

In [27]:
print(x*10)

mammenmammenmammenmammenmammenmammenmammenmammenmammenmammen

In [28]:
print(str.split())

['George', 'Mammen', 'Kurien']

In [29]:
print(str.split('m'))

['George Ma', '', 'en Kurien']

Print Formatting

In [30]:
print('Hell0 {}'.format('World'))

Hell0 World

In [31]:
print("{} {} {}".format('George', 'Mammen', 'Kurien'))

George Mammen Kurien

In [32]:
print("{2} {1} {0}".format('George', 'Mammen', 'Kurien'))

Kurien Mammen George

In [33]:
print("{2} {0} {0}".format('George', 'Mammen', 'Kurien'))

Kurien George George

In [34]:
x = 10

In [35]:
print(f"he is {x} years old")

he is 10 years old

List

In [36]:
my_list = ['start','stop',1,2]

In [37]:
my_list[0:]

['start', 'stop', 1, 2]

In [40]:
my_list[::-1]

[2, 1, 'stop', 'start']

In [41]:
my_list[0]

'start'

In [42]:
my_second = [1,2,3]

In [43]:
my_list + my_second

['start', 'stop', 1, 2, 1, 2, 3]

In [44]:
my_list[0] = 'hey'

In [45]:
my_list

['hey', 'stop', 1, 2]

In [46]:
my_list.append("heyyo")

In [47]:
my_list

['hey', 'stop', 1, 2, 'heyyo']

In [48]:
my_list.pop()

'heyyo'

In [49]:
my_list

['hey', 'stop', 1, 2]

In [2]:
x = 10

In [3]:
x

10

Dictionary

In [5]:
my_dict = {'apple': '99', 'orange' : '200', 'banana' : '50'}

In [8]:
my_dict['apple']

'99'

In [1]:
rand_dict = {'key1' : [1,2,3,4], 'key2' : 'sumesh', }

In [2]:
rand_dict['key1'][0]

1

In [3]:
rand_dict['key2'].upper()

'SUMESH'

In [4]:
rand_dict['key3'] = 'hello'

In [5]:
rand_dict

{'key1': [1, 2, 3, 4], 'key2': 'sumesh', 'key3': 'hello'}

In [6]:
rand_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [7]:
rand_dict.values()

dict_values([[1, 2, 3, 4], 'sumesh', 'hello'])

Tuples 


#tuples are immutable - no reassigning element

In [10]:
t = ('a','b','a')

In [11]:
t.count('a')

2

In [12]:
t.index('a') ## first occurence

0

Sets

In [13]:
my_set = set()

In [14]:
my_set.add(1)

In [15]:
my_set.add(2)

In [16]:
my_set

{1, 2}

In [17]:
my_set.add(2)

In [18]:
my_set

{1, 2}

Operators and basic keywords

In [19]:
1> 2

False

In [20]:
1 == 1

True

In [21]:
1 != 1

False

In [22]:
1 < 2 and 2< 3

True

In [23]:
1 < 2 or 2 < 3

True

In [24]:
1 > 2 or 2 < 3

True

In [25]:
1 > 2 or 2 > 3

False

In [26]:
1 > 2 and 2 < 3

False

In [27]:
not(1 == 1)

False

Statements and Loops

In [28]:
n = 2
if n < 0 : 
    print('hey')
elif n == 2:
    print('hello') 
else : 
    print('podo')

hello

In [29]:
n = -1
if n < 0 : 
    print('hey')
elif n == 2:
    print('hello') 
else : 
    print('podo')

hey

In [30]:
n = 1
if n < 0 : 
    print('hey')
elif n == 2:
    print('hello') 
else : 
    print('podo')

podo

In [32]:
for i in range(1,10): 
    print(i)

1
2
3
4
5
6
7
8
9

In [34]:
my_list = [1,2,3,4,5,6,7,8,9,10]

for i in my_list:
    print(i*i)

1
4
9
16
25
36
49
64
81
100

In [36]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in my_list:
    sum = sum + i

print(sum)

55

In [37]:
for i in 'George Mammen' :
    print(i)

G
e
o
r
g
e

M
a
m
m
e
n

In [38]:
my_list = [(1,2),(3,4),(5,6)]

for i in my_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [39]:
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6

Dictionary Manipulation

In [40]:
rand_dict = {'key1' : [1,2,3,4], 'key2' : 'sumesh', }

In [41]:
for item in rand_dict:
    print(item)

key1
key2

In [42]:
for item in rand_dict.items():
    print(item)

('key1', [1, 2, 3, 4])
('key2', 'sumesh')

In [43]:
for item in rand_dict.values():
    print(item)

[1, 2, 3, 4]
sumesh

Break & Continue

In [4]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in my_list:
    if i == 4 :
        continue
    sum = sum + i
    print(sum)

1
3
6
11
17
24
32
41
51

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in my_list:
    if i == 4 :
       break
    sum = sum + i
    print(sum)

1
3
6

In [6]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

Enumerate & Zip Function

In [8]:
str = 'George'

for item in enumerate(str) :
    print(item)

(0, 'G')
(1, 'e')
(2, 'o')
(3, 'r')
(4, 'g')
(5, 'e')

In [10]:
str = 'George'

for index,letter in enumerate(str) :
    print(index)
    print(letter)
    print('\n')

0
G


1
e


2
o


3
r


4
g


5
e

In [11]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = ['George','Sneha', 'Paul']

for item in zip(list1,list2,list3): 
    print(item)

(1, 5, 'George')
(2, 6, 'Sneha')
(3, 7, 'Paul')

In [12]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list3 = ['George','Sneha', 'Paul','Vaish']

for item in zip(list1,list2,list3): 
    print(item)

(1, 5, 'George')
(2, 6, 'Sneha')
(3, 7, 'Paul')
(4, 8, 'Vaish')

Randint

In [13]:
from random import randint

In [14]:
randint(0,100)

36

In [18]:
name = input(' Enter your name :')
print(name)

George

Iterating through string to return list without append function

Shortening For Loop

In [20]:
str = 'George Mammen Kurien'

my_list = [letter for letter in str]
print(my_list)

['G', 'e', 'o', 'r', 'g', 'e', ' ', 'M', 'a', 'm', 'm', 'e', 'n', ' ', 'K', 'u', 'r', 'i', 'e', 'n']

In [21]:
my_list = [x**3 for x in range(0,10)]
print(my_list)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [22]:
my_list = [x**3 for x in range(0,10) if x % 2 ==0]
print(my_list)

[0, 8, 64, 216, 512]

In [25]:
celsius = [10,34,45,22] 
fahrenheit = [(9/5)*temp + 32 for temp in celsius]
print(fahrenheit)

[50.0, 93.2, 113.0, 71.6]

If + For Nested

In [27]:
num = ['EVEN' if x%2 == 0 else 'ODD' for x in range(0,11)]
print(num)

['EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN']

Nested For

In [28]:
my_list = [x*y for x in [1,2,3] for y in [1,10,100]]
print(my_list)

[1, 10, 100, 2, 20, 200, 3, 30, 300]

Random Problems

In [29]:
st = 'Print only the words that start with s in this sentence'
for i in st.split():
    if i[0] == 's':
        print(i)

start
s
sentence

In [30]:
for i in range(0,11) :
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10

In [32]:
[x for x in range(0,51) if x % 3 ==0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [33]:
st = 'Print every word in this sentence that has an even number of letters'

for word in st.split() :
    if len(word) % 2 == 0: 
        print(word)

word
in
this
sentence
that
an
even
number
of

In [37]:
st = 'Create a list of the first letters of every word in this string'

[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

Functions

In [2]:
def add(num1,num2) :
    return num1 + num2

print(add(5,6))

11

In [4]:
def even(num) :
    if num % 2 == 0:
        print('even')
    else :
        print('odd')

num = int(input('Enter a number: '))
even(num)

even

In [9]:
work_hours=[('George',100),('Vaish',50),('Paul',20)]

def maxwork(work_hours) :
    current_max = 0
    emp_month = ''
    for employee, hours in work_hours:
        if hours > current_max:
            current_max = hours
            emp_month = employee
        else :
            pass

    return(emp_month,current_max)

name, hours = maxwork(work_hours)
print(name)
print(hours)

George
100

*args - takes in n number of arguments for the function without explicitly declaring them.. It returns a tuple

In [5]:
def myfunc(*args) :
    return sum(args) * 0.05


myfunc(2,4)

0.30000000000000004

In [2]:
myfunc(20,40,40)

5.0

In [3]:
myfunc(20,40,40,100)

10.0

In [4]:
myfunc(20,40,100,100,100)

18.0

In [6]:
def myfunc(*args,**kwargs) :
    print(args)
    print(kwargs)
    print('give me {} {}'.format(args[0],kwargs['food']))

In [7]:
myfunc(10,20,30,food = 'bread', juice = 'lemon')

(10, 20, 30)
{'food': 'bread', 'juice': 'lemon'}
give me 10 bread

In [8]:
def myfunc(word):
    out = ""
    for i in range(len(word)):    
        if i % 2 == 0:
            out = out + (word[i].lower())
        else:
            out = out + (word[i].upper())
    return out

In [10]:
myfunc('George')

'gEoRgE'

Qs: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [14]:
def nums(a,b) :
    if a % 2 == 0 and b % 2 ==0 :
        return min(a,b)
    else:
        return max(a,b)

In [15]:
nums(2,6)

2

In [16]:
nums(2,5)

5

In [17]:
nums(7,8)

8

Qs : Write a function takes a two-word string and returns True if both words begin with same letter

In [27]:
def str(a) :
    words = a.split()
    return words[0][0] == words[1][0]

In [28]:
str('George Mammen')

False

In [29]:
str('Air Asia')

True

Qs: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

In [37]:
def nums(a,b) :
    return (a+b) == 20 or a == 20 or b == 20

In [38]:
nums(15,20)

True

In [39]:
nums(15,2)

False

Qs:Write a function that capitalizes the first and fourth letters of a name

In [44]:
def cap(name) :
    return name[:3].capitalize() + name[3:].capitalize()

In [45]:
cap('George')

'GeoRge'

Qs: Given a sentence, return a sentence with the words reversed.

In [54]:
def sent(str) :
    words = str.split()
    return ' '.join(words[::-1])

In [55]:
sent('George Mammen Kurien')

'Kurien Mammen George'

Qs: Given an integer n, return True if n is within 10 of either 100 or 200

In [60]:
def num(n) :
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [61]:
num(90)

True

In [62]:
num(104)

True

In [63]:
num(150)

False

Qs: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [68]:
def nums(arr) :
    for index in range(0,len(arr) -1) :
        if arr[index] == 3 and arr[index + 1] == 3 :
            return True
    return False

In [69]:
nums([1,3,3])

True

In [70]:
nums([3,1,3])

False

In [71]:
nums([3,3,3])

True

Qs: Given a string, return a string where for every character in the original there are three characters

In [78]:
def rep(str) :
    res = ''
    for char in str :
        res = res + (char*3)
    
    return res

In [79]:
rep('Hello')

'HHHeeellllllooo'

Qs: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [100]:
def rand(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [101]:
rand(2,4,5)

11

In [102]:
rand(3,14,5)

'BUST'

In [103]:
rand(3,34,11)

'BUST'

Qs: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

In [1]:
def sumnum(arr):
    sum = 0
    temp = True
    for num in arr :
        while temp:
            if num != 6:
                sum = sum + num
                break
            else :
                temp = False
        while not temp:
            if num!= 9:
                break
            else:
                temp = True
                break
    return sum

In [3]:
sumnum([1,2,3,4])

10

In [4]:
sumnum([6,2,3,9])

0

In [5]:
sumnum([6,2,9,9])

9

Qs: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [21]:
def rand(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   
       
    return len(code) == 1

In [19]:
rand([1,2,3,4])

False

In [17]:
rand([1,0,0,7])

True

In [18]:
rand([1,0,7,0])

False

In [22]:
rand([1,0,0,7,0,0])

True

Qs: Write a function that returns the number of prime numbers that exist up to and including a given number

In [3]:
def num(n):
    primes = [2]
    x = 3
    if n < 2:
        return 0
    while x <= n: 
        for y in primes :
            if x % y == 0 :
                x = x+2
                break
        else:
                primes.append(x)
                x = x+2
    print(primes)
    return len(primes)

In [4]:
num(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

Map Function

In [25]:
def square(n) :
    return n**2

In [26]:
square(5)

25

In [27]:
rand = [1,2,3,4,5,6,7,8,9]

In [28]:
list(map(square,rand))

TypeError: 'list' object is not callable

In [2]:
print('George')

George

In [4]:
def fname(name):
    if len(name) == 5:
        return name
    else:
        return name[1:3]

In [5]:
list1=['George','Sreerag','Alba']

In [6]:
for item in list1:
    print(fname(item))

eo
re
lb

In [7]:
print (list(map(fname,list1)))

['eo', 're', 'lb']

Filter Function

In [8]:
def fname(name):
    if len(name) == 5:
        return name

In [11]:
list1=['George','Sreerag','Alba','Sneha']

In [12]:
list(filter(fname,list1))

['Sneha']

In [13]:
print(list(filter(lambda name: len(name) == 5 ,list1)))

['Sneha']

Random Problems

In [17]:
def present(num,high,low) :
    if num in range(high,low+1) :
        return True
    else:
        return False

In [18]:
present(5,6,9)

False

In [19]:
present(4,2,6)

True

In [25]:
def numcase(str) :
    countl = 0
    countu = 0
    for i in str:
        if i.isupper():
            countu+=1
        elif i.islower():
            countl = countl+1
    print(countl)
    print(countu)

In [26]:
numcase('George MAMMEN Kurien')

10
8

In [29]:
def arraynum(list1) :
    return list(set(list1))

In [32]:
arraynum([1,1,1,1,1,32,3,3,5,5,6,7,8])

[32, 1, 3, 5, 6, 7, 8]

In [35]:
def arraynum(list1) :
    arr = []
    for num in list1:
        if num not in arr:
            arr.append(num)
    print(arr)

In [36]:
arraynum([1,1,1,1,1,32,3,3,5,5,6,7,8])

[1, 32, 3, 5, 6, 7, 8]

Python function to check if word/phrase is a palindrome or not

In [8]:
def palin(s):
    s = s.replace(' ','')
    return s == s[::-1]

In [9]:
palin('George')

False

In [11]:
palin('malayalam')

True

In [1]:
a = 'George'
print(a)

George

Replacing element in a list with it's index in the form of a game

In [6]:
rand_list = [1,4,3]
def current_list(rand_list): 
    print('CURRENT LIST')
    print(rand_list)

In [7]:
current_list(rand_list)

CURRENT LIST
[1, 4, 3]

In [8]:
def index() :
    choice = 'wrong'
    while choice not in ['0','1','2'] :
        choice = input('Enter a postion(0,1,2): ')
        if choice not in ['0','1','2'] :
            print('Invalid Choice')
    
    return int(choice)

In [3]:
index()

Invalid Choice

2

In [9]:
def new_value(rand_list,new_posi):
    val = input('Enter the required item:')
    rand_list[new_posi] = val
    return rand_list

In [10]:
new_value(rand_list,1)

[1, 'hello', 3]